<html>
  <head>
    <title><%= title%></title>
  </head>
  <body>
    <h1>play</h1>
    <ul>
      <% for (let i = 1;i<=6;i++){%>
      <li><%= i%></li>
      <% } %>
    </ul>

    <% if(true == 1) {%>
    <h1>its true</h1>
    <% } else {%>
    <h1>not true</h1>
    <% } %>
  </body>
</html>
